In [ ]:
# 1
score = 85
if score >= 80:
    print("Grade is A")
elif score >= 80:
    print("Grade is B")
elif score >= 70:
    print("Grade is C")
else:
    print("Grade is D")

Grade is A

In [ ]:
# 2
my_list = [1, 2, 3, 4, 5]
print(my_list[2])
print(my_list[3:5])
my_list[0] = 11
print(my_list)

3
[4, 5]
[11, 2, 3, 4, 5]

In [ ]:
# 3
num1 = 15
num2 = 11

add = num1 + num2
print("The addition of num1 and num2 is:", add)

sub = num1 - num2
print("The subtraction of num1 and num2 is:", sub)

mul = num1 * num2
print("The multiplication of num1 and num2 is:", mul)

The addition of num1 and num2 is: 26
The subtraction of num1 and num2 is: 4
The multiplication of num1 and num2 is: 165

In [ ]:
# 4
num1 = 11
num2 = 24
num3 = 63

if (num1 >= num2) and (num1 >= num3):
    largest = num1
    print("Largest number is:", largest)
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
    print("Largest number is:", largest)
else:
    largest = num3
    print("Largest number is:", largest)

Largest number is: 63

In [ ]:
# 5

def square(x):
  return x**2

def cube(x):
  return x**2


def transform(f,L):
  output = []
  for i in L:
    output.append(f(i))

  print(output)

L = [1,2,3,4,5]

transform(cube,L)

[1, 4, 9, 16, 25]

In [ ]:
# 6
def calculator():
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    choice = input("Enter choice (1/2/3/4): ")

    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == '1':
        print(f"{num1} + {num2} = {num1 + num2}")
    elif choice == '2':
        print(f"{num1} - {num2} = {num1 - num2}")
    elif choice == '3':
        print(f"{num1} * {num2} = {num1 * num2}")
    elif choice == '4':
        if num2 != 0:
            print(f"{num1} / {num2} = {num1 / num2}")
        else:
            print("Error! Division by zero.")
    else:
        print("Invalid input")

calculator()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 3
Enter first number: 5
Enter second number: 6
5.0 * 6.0 = 30.0

In [15]:
# 7
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def introduce(self):
        print(f"Name is : {self.name}, and age is : {self.age}")

In [16]:
person1=Person("nitin","17")
person1.introduce()

Name is : nitin, and age is : 17

In [20]:
# 8
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(2, 3, 2)

print(newarr)

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

In [24]:
# 9
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8,9,10,11,12,13,14,15,16,17,18,19,20])

x = np.where(arr%2 == 0)

print(x)

(array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19]),)

In [27]:
# 10
from numpy import random

x = random.choice([3, 5, 7, 9], size=(4, 6))

print(x)

[[7 7 7 3 7 7]
 [5 3 5 7 7 9]
 [3 9 5 5 5 3]
 [5 7 3 3 7 5]]

In [45]:
# 11
import pandas as pd

mydataset = {
  'cars': ["balano", "nano", "i20"],
  'passings': [3, 7, 3]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

     cars  passings
0  balano         3
1    nano         7
2     i20         3

In [52]:
# 12
for num in range(2, 17):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number

In [57]:
# 13
import numpy as np

a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

In [59]:
# 14
import numpy as np

arr = np.array([11,22,33,44,55])

filter_arr = []

for element in arr:
  if element > 22:
    filter_arr.append(True)
  else:
    filter_arr.append(False)

newarr = arr[filter_arr]

print(filter_arr)
print(newarr)

[False, False, True, True, True]
[33 44 55]

In [60]:
# 15
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [61]:
df = pd.read_csv('/content/covid_impact_on_work new.csv')

In [64]:
print(df)

     Stress_Level     Sector  Increased_Work_Hours  Work_From_Home  \
0             Low     Retail                     1               1
1             Low         IT                     1               1
2          Medium     Retail                     1               0
3          Medium  Education                     1               1
4          Medium  Education                     0               1
...           ...        ...                   ...             ...
9995       Medium         IT                     1               1
9996       Medium         IT                     0               0
9997          Low     Retail                     1               1
9998       Medium  Education                     1               1
9999       Medium     Retail                     0               0

        Hours_Worked_Per_Day        Meetings_Per_Day  Productivity_Change  \
0      6.392.393.639.805.820  26.845.944.014.488.700                    1
1      9.171.983.537.957.560  33.392.245.834.602.800                    1
2     10.612.560.951.456.400   2.218.332.712.302.110                    0
3      5.546.168.647.409.510   5.150.566.193.312.910                    0
4     11.424.615.456.733.800  31.211.255.258.841.200                    1
...                      ...                     ...                  ...
9995   7.961.822.499.528.110     228.385.715.074.039                    1
9996  10.917.085.531.320.900  36.214.061.959.290.800                    0
9997   1.017.621.058.520.080  10.396.886.350.092.200                    1
9998  11.903.972.863.377.200   3.756.724.961.448.690                    0
9999   8.443.284.185.945.760   4.225.793.569.107.430                    1

      Health_Issue  Job_Security  Childcare_Responsibilities  \
0                0             0                           1
1                0             1                           0
2                0             0                           0
3                0             0                           0
4                0             1                           1
...            ...           ...                         ...
9995             1             1                           1
9996             0             0                           1
9997             0             1                           0
9998             1             1                           0
9999             0             0                           0

      Commuting_Changes  Technology_Adaptation  Salary_Changes  \
0                     1                      1               0
1                     1                      1               0
2                     0                      0               0
3                     1                      0               0
4                     1                      0               1
...                 ...                    ...             ...
9995                  0                      0               0
9996                  0                      1               0
9997                  1                      1               1
9998                  1                      1               1
9999                  1                      1               0

      Team_Collaboration_Challenges  Affected_by_Covid
0                                 1                  1
1                                 1                  1
2                                 0                  1
3                                 0                  1
4                                 1                  1
...                             ...                ...
9995                              1                  1
9996                              0                  1
9997                              1                  1
9998                              1                  1
9999                              1                  1

[10000 rows x 15 columns]

In [68]:
# 16
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [69]:
df = pd.read_csv('/content/gym_members_exercise_tracking.csv')

In [70]:
print(df)

     Age  Gender  Weight (kg)  Height (m)  Max_BPM  Avg_BPM  Resting_BPM  \
0     56    Male         88.3        1.71      180      157           60
1     46  Female         74.9        1.53      179      151           66
2     32  Female         68.1        1.66      167      122           54
3     25    Male         53.2        1.70      190      164           56
4     38    Male         46.1        1.79      188      158           68
..   ...     ...          ...         ...      ...      ...          ...
968   24    Male         87.1        1.74      187      158           67
969   25    Male         66.6        1.61      184      166           56
970   59  Female         60.4        1.76      194      120           53
971   32    Male        126.4        1.83      198      146           62
972   46    Male         88.7        1.63      166      146           66

     Session_Duration (hours)  Calories_Burned Workout_Type  Fat_Percentage  \
0                        1.69           1313.0         Yoga            12.6
1                        1.30            883.0         HIIT            33.9
2                        1.11            677.0       Cardio            33.4
3                        0.59            532.0     Strength            28.8
4                        0.64            556.0     Strength            29.2
..                        ...              ...          ...             ...
968                      1.57           1364.0     Strength            10.0
969                      1.38           1260.0     Strength            25.0
970                      1.72            929.0       Cardio            18.8
971                      1.10            883.0         HIIT            28.2
972                      0.75            542.0     Strength            28.8

     Water_Intake (liters)  Workout_Frequency (days/week)  Experience_Level  \
0                      3.5                              4                 3
1                      2.1                              4                 2
2                      2.3                              4                 2
3                      2.1                              3                 1
4                      2.8                              3                 1
..                     ...                            ...               ...
968                    3.5                              4                 3
969                    3.0                              2                 1
970                    2.7                              5                 3
971                    2.1                              3                 2
972                    3.5                              2                 1

       BMI
0    30.20
1    32.00
2    24.71
3    18.41
4    14.39
..     ...
968  28.77
969  25.69
970  19.50
971  37.74
972  33.38

[973 rows x 15 columns]